<%= javascript_include_tag 'updatemap', 'data-turbolinks-track' => true %>
<img src="/step/step3F.png"/ height="50" width="195">
<p><b><u>Update the map:</u></b></p>
<button id="updatebutton" type="button">UPDATE</button>
<br></br>
<div><i> You can click on a boat to see the description of its team </i></div>
<div><i> The map refreshes itself on the time</i></div>
