<!DOCTYPE html>
<html>
<head>
  <title>MYRRails</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <% if false %>
	   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
   <% end %>
   <%= csrf_meta_tags %> 
</head>
<body>

<%= yield %>

</body>
</html>
