<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'create', 'data-turbolinks-track' => true %>
</head>
<body>
	<button id="doit" type="button">Add Existing Markers</button> 
	<button id="sendparam" type="button">Add new tasty coordinates !</button> 
	<a href<%= link_to "Go to test", mytest_mytest_path%></a>
	<div id="map-canvas"></div>
</body>
</html>