<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'real-time', 'data-turbolinks-track' => true %>
</head>
<body>
	<button id="doit" type="button">Add Existing Markers</button> 
	<button id="sendparam" type="button">Add new tasty coordinates !</button> 

	<div id="map-canvas"></div>


		<br></br>
		<div class="one_third first">
			<img src="/step/step1F.png"/ height="50" width="195">
			<div id="choiceteams"></div>
			<a id="refreshteams" href<%= link_to "", :action => :choiceteams, remote: true%></a>
		</div>
		<div class="one_third" id="rob"></div>
		<div class="one_third" id="up"></div>
	</div>
</body>
</html>