<!DOCTYPE html>
<html>
	<head>
		<title>	aaaaaaaaaaaaaaaaaaaaaaa</title>
	</head>
	<body id="top">
		<div class="wrapper bgded" style="background-image:url(<%= data["back_ground"] %>);">
			<%= data["bonjour"] %>
			<%= data["CSS"] %>
			<%= data["back_ground"] %>
		</div>
	</body>
</html>